<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>$pageTitle$</title>
    
    <link rel="stylesheet" href="/css/main.css">
    
    <link rel="alternate"
          type="application/atom+xml"
          href="/articles.atom"
          title="Extralogical feed">
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16781818-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ?
                'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head><body><header id="header">
    <div class="wrapper">
        <h1 id="title" class="secondary"><a href="/">Extralogical</a></h1>
        
        <ul id="navigation" class="primary">
            <li><a href="http://books.extralogical.net">Books</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</header><section class="wrapper">
    
    $body$
    
    <footer id="footer">
        <p>
            Extralogical is written and produced by
            <a href="/about">Benedict Eastaugh</a>.
        </p>
    </footer>
</section></body></html>
